.course-categories {
     max-width: 1200px;
     margin: 40px auto;
     padding: 20px;
  

     overflow: hidden;
   }
   
   .course-categories h2 {
     text-align: center;
     font-size: 2.5rem;
     margin-bottom: 30px;
     color: #333;
   }
   
   .slick-slide {
     text-align: center;
     transition: transform 0.3s ease;
   }
   
   .slick-slide:hover {
     transform: scale(1.1);
 
   }
   
   .category {
     padding: 20px;
     background-color: black;
     color: white;
 
     margin: 20px;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     
     cursor: pointer;
   }
   .category img {
     width: 200px;
     height: 200px;
     object-fit: cover;
     border-radius: 10%;
     margin-bottom: 20px;
     margin-left: 9rem;
  
   }
  
   
   .category h3 {
     font-size: 1.5rem;
     color: rgb(232, 25, 56);

   }
   h1{
     text-align: center;
     margin-top: 14rem;
     font-size: 40px;
     color: rgb(197, 195, 195);
   }
   