.course-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  padding: 10rem;
}

.h-title {
  color: black;
  text-align: center;
  margin-top: 2rem;
}

.course-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  margin: 5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: calc(23.333% - 2rem);
  cursor: pointer;
}

.course-card:hover {
  transform: translateX(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.course-title {
  color: #ef304c;
  font-size: 1.8rem;
  text-align: center;
  
}

.imgs {
  margin: 20px 0;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
}

.course-description {
  color: #555;
  font-size: 1.4rem;
  margin-top: 15px;
  text-align: center;
}

.course-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.price {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}

.btn-enroll {
  background: linear-gradient(45deg, #f7667c, #d4203b);
  color: white;
  padding: 1rem;
  width: 12rem;
  border: none;
  border-radius: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.btn-enroll:hover {
  background: linear-gradient(45deg, #d4203b, #ef304c);
  transform: scale(1.05);
}

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .course-card {
    width: 80%;
    margin: 20px 0;
  }

  .course-description {
    font-size: 1.2rem;
  }

  .btn-enroll {
    width: 10rem;
    padding: 1rem;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .course-card {
    width: 90%;
    margin: 10px 0;
  }

  .course-description {
    font-size: 1rem;
  }

  .btn-enroll {
    width: 8rem;
    padding: 0.8rem;
    font-size: 1rem;
  }
}
