.course-grid {
     display: flex;
      margin-top: 20rem;
   }
   
   .h-title{
     color: black;
     position: relative;
     top: 20rem;
   }


   @media (max-width: 480px) {
    .h-title{
      font-size: 3rem;
    }
  }